# Office files
*.zip
*.rar
*.ppt
*.pptx
*.doc
*.docx
*.xls
*.xlsx

# >>>Files_Not_For_Share.gitignore Begin<<<
First/
Second/
Third/Fall/CG/*.pdf
Third/Fall/CN/**/*.pdf
Third/Fall/IoT/**/*.pdf
Third/Fall/OS/**/*.pdf
Third/Fall/OS/OS-Code
Third/雅思
other/
CommunistFiles/
/*.pdf

# >>>Files_Not_For_Share.gitignore End<<<

# >>>C++.gitignore Begin<<<
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# >>>C++.gitignore End<<<
